case/fusion360/Symm60HE-reference-assembly.step filter=lfs diff=lfs merge=lfs -text
case/fusion360/Symm60HE-LeftPCBComponents.step filter=lfs diff=lfs merge=lfs -text
case/fusion360/Symm60HE-RightPCBComponents.step filter=lfs diff=lfs merge=lfs -text
